.about-heading {
  padding: 5rem 2rem;
  border-bottom: 0.125rem solid #000000;
}

.about-heading h2 {
  font-family: "Neue Haas Grotesk-Medium";
  font-size: 6rem;
  line-height: 5.625rem;
  text-align: right;
  text-transform: uppercase;
}

.about-text-and-images {
  padding: 6rem 2rem 2.25rem 2rem;
}

.about-text-and-images p {
  font-family: "Neue Haas Grotesk-Roman";
  font-size: 2.25rem;
  margin: 0 4.5rem 3.5rem 4.5rem;
}

/* This modifies the margins and gaps on the built-in WP "figure" element. This element is used when inserting image galleries from the WP dashboard. It appears to be using some built-in tailwind css for its deafult styling. */
.about-text-and-images > figure {
  gap: 1rem;
  width: 100%;
  padding: 7.5rem 0 11rem 0;
}
