/* Makes links and chosen text elements uppercase. We might be able to rationalise this later. ---> */

.archive-book-paragraph h4,
.section-paragraph a,
.post-navigation a {
  text-transform: uppercase;
}

/* <--- ---| */

.archive-book-post {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 50vw;
  padding: 0 2rem;
  margin-bottom: 4rem;
}

.books-image-section {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  height: 100%;
  width: 100%;
}

.left-book-image-container {
  flex-grow: 2;
}

.right-book-image-container {
  flex-grow: 1;
}

.books-image-section img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.archive-book-paragraph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-top: 2rem;
  width: 100%;
}

.archive-book-paragraph h4 {
  font-size: 1.25rem;
  font-family: "Neue Haas Grotesk-Medium";
}

.section-paragraph {
  display: flex;
  justify-content: space-between;
  width: 8.3rem;
}

.section-paragraph a,
.section-paragraph p {
  text-decoration: none;
  font-family: "Neue Haas Grotesk-Roman";
  color: #000000;
  font-size: 1.25rem;
}

/* styling för single-book*/

.nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation,
.post-navigation {
  background-color: white;
  margin-top: 5rem;
  margin-left: 4.7rem;
  margin-right: 4.7rem;
  margin-bottom: 5.8rem;
}

.navigation,
.post-navigation a {
  text-decoration: none;
  color: #000000;
  font-size: 2.25rem;
  font-family: "Neue Haas Grotesk-Light";
}

.nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
  text-decoration: none;
}

.nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

.single-book-container{
  display: flex;
  justify-content: space-around;
  
  font-size: 2.25rem;
  margin-left: 2rem;
  margin-right:2rem; 
  margin-top: 3rem;
  margin-bottom: 4rem;
  
}

.single-books-heading {
  padding: 5rem 2rem;
  border-bottom: 0.125rem solid #000000;
}

.single-books-heading h2 {
  display: flex;
  font-size: 6rem;
  font-family: "Neue Haas Grotesk-Medium";
  padding-right: 2rem;
  justify-content: right;
  text-transform: uppercase;
}

@media screen and (max-width:1130px){
  .single-book-container{
    gap: 5rem;
    font-size: 2rem;

  }
  .archive-book-post{
    margin-bottom: 5rem;

  }
  .navigation,
  .post-navigation {
   
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
  }

  .single-books-heading{
    padding: 2rem 1rem;
    

  }



}

@media screen and (max-width:500px){
 

  .single-books-heading h2 {
    font-size: 3rem;
  }

  .single-books-heading{
    padding: 1rem 1rem;
  }

  .single-book-container{
    gap: 4rem;
    font-size: 1rem;
    margin-bottom: 1rem; 
  }

  .post-navigation a {
    font-size: 1.2rem;
    
  }
  .navigation,
.post-navigation {
 
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
}

.archive-book-paragraph h4, 
.section-paragraph a, 
.section-paragraph p{
  font-size: 0.8rem;
}

.section-paragraph{
  width: 4rem;
}

.archive-book-post{
  margin-bottom: 2rem;
  margin-top: 2rem;
}



}