.archive-book-post {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.books-image-section {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  height: 100%;
  width: 100%;
}

.left-book-image-container {
  width: 63%;
  height: fit-content;
}

.right-book-image-container {
  width: 30%;
  height: fit-content;
}

.books-image-section img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.archive-book-paragraph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-top: 2rem;

  width: 94%;
}

.archive-book-paragraph h4 {
  font-size: 20px;
  font-family: "Neue Haas Grotesk-Medium";
}

.section-paragraph {
  display: flex;
  justify-content: space-between;
  width: 8.3rem;
}

.section-paragraph a,
.section-paragraph p {
  text-decoration: none;
  font-family: "Neue Haas Grotesk-Roman";
  color: #000000;
  font-size: 20px;
}

/* styling för single-book*/

.nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navigation,
.post-navigation {
  background-color: white;
  margin-top: 5rem;
  margin-left: 4.7rem;
  margin-right: 4.7rem;
  margin-bottom: 5.8rem;
}

.navigation,
.post-navigation a {
  text-decoration: none;
  color: black;
  font-size: 36px;
  font-family: "Neue Haas Grotesk-Light";
}

.nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
  text-decoration: none;
}

.nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

.single-book-paragraph {
  display: flex;

  justify-content: center;
  font-size: 36px;
  flex-direction: column;
  margin-right: 6.5rem;
  margin-left: 6.5rem;
  margin-top: 3rem;
}

.single-books-container {
  width: 100%;
  padding: 80px 2rem;
  border-bottom: 2px solid #000000;
}

.single-books-heading {
  display: flex;
  font-size: 96px;
  font-family: "Neue Haas Grotesk-Medium";
  padding-right: 2rem;
  justify-content: right;
}
