@font-face {
    font-family: "Neue Haas-medium";
    src: url("../fonts/NeueHaasDisplayMediu.ttf");
  }

  @font-face {
    font-family: "Neue Haas";
    src: url("../fonts/NeueHaasDisplay.ttf");
  }


  @font-face {
    font-family: "Neue Haas-Bold";
    src: url("../fonts/NeueHaasDisplayBold.ttf");
  }


input[type="text"], input[type="email"], input[type="textarea your-message"]
{
   color: #939191;
    font-size: 20px;
    border:none;
    font-family: "Neue Haas"; 
    outline: none; 
}

input[type="submit"]{
    font-size: 20px;
    line-height: 24px;
    border: none;
    background-color: white;
    border-bottom: 2px solid black;
    width: 6rem;
    text-align: right;
    cursor: pointer;
    font-weight: 600;
    font-family:"Neue Haas";
    margin-left: 3rem;
   
  
  }
  
  input[type="submit"]:hover{
      font-family:"Neue Haas-medium";
  
  }

  .wpcf7-form-control-wrap{
      display:flex;
      margin-bottom: 2rem;
      margin-left: 4.75rem;
      width: 94rem;
      margin-left: 3.2rem;
      border-bottom: 1px solid black;
  }
  .wpcf7-form-control-wrap::before{
      content: "//";
      margin-right: 2rem;
      font-size: 20px; 
  }

  .wpcf7-form {
      margin-top: 1rem;
  }

/*invalid reponse message form*/
.wpcf7 form.invalid {
    font-size: 20px;
    font-family:"Neue Haas-medium";
    
    
}

.wpcf7-response-output{
    border: none !important;
    font-size: 20px;
    font-family:"Neue Haas-medium";
    border-color: white;
    

}

/*conformation message form*/
.wpcf7 form.sent .wpcf7-response-output{
    border:none;
    font-size: 20px;
    font-family:"Neue Haas-medium";
    margin-top: 1rem;
    margin-left: 2rem;
}

.wpcf7-not-valid-tip{
    margin-left: 4.5rem;
    font-size: 20px;
    font-family:"Neue Haas-medium";
}

.contact-heading{
    font-size: 96px;
    color: black;
    text-align: right;
    padding-right: 2rem;
    font-weight: 600;
    font-family: "Neue Haas-Medium";
   
}

.contact-heading-section{
    margin-right: 2rem; 
    margin-top: 4.8rem;
    padding: 80px 2rem;
    border-bottom: 2px solid #000000;
    width: 100%;
    margin-bottom: 2rem;

}
.images-section{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 40rem;
    margin-top: 8.25rem;
}
.images-section img {
    width: 346px;
    height: 405px;
    margin-bottom: 2rem;
}

.images-section, .image-section-only-joanna p{
    font-size: 20px;
    text-align: right;
    margin-bottom: 3.3rem;
}

.image-paragraphs-contact{
    display:flex;
    flex-direction: row;
   justify-content: space-between;
}
.image-section-only-joanna{
    display:flex;
    flex-direction: row;
    justify-content: center; 
    margin-top: 8.25rem;
}

.image-section-only-joanna img {
    width: 346px;
    height: 405px;
    margin-bottom: 2rem;

}









