.exhibition-heading {
  padding: 5rem 2rem;
  border-bottom: 0.125rem solid #000000;
}
.exhibitions .exhibition-heading h2 {
  font-family: "Neue Haas Grotesk-Medium";
  font-size: 6rem;
  line-height: 5.625rem;
  text-align: right;
}

/* grid section for posts styled under main.css articles section. */

.exhibition-image-container {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  margin: 3.2rem auto 10.5rem auto;
  overflow: hidden;
}

.exhibition-image-container img {
  width: 42.375rem;
}
