@font-face {
    font-family: "Neue Haas";
    src: url("../fonts/NeueHaasDisplayLight.ttf");
  }

.footer-section{
    background-color: rgb(0,0,0);
    height: 407px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
   
    
}
.logo-footer{
    margin-top: 32px;
    margin-left: 35px;
}

.footer-section h2{
    font-size: 53px;
    line-height: 30px;
    font-weight: 600;
    color: white;
    font-family: "Neue Haas";
    letter-spacing: 0.6rem;
}

.footer-section h3{
    font-size: 40px;
    line-height: 30px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
    font-family: "Neue Haas";
    letter-spacing: 0.6rem;
}

.info-section-footer p {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    top: 64px;
    font-family: "Neue Haas";

}

.menu-footer a {
    color: white;
    text-decoration: none;
    font-family: "Neue Haas";
    line-height:28px;
    font-size: 20px;
    margin-top: 32px;
  
}

.menu-footer{
    display:grid;
    grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr;
    

}

.info-section-footer{
    margin-top: 40px;
    margin-right: 32px;
}