.footer-section{
    background-color: #000000;
    height: 407px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.logo-footer{
    margin-top: 20px;
    margin-left: 35px;
}

.footer-section h2{
    font-size: 53px;
    line-height: 30px;
    font-weight: 600;
    color: white;
}

.footer-section h3{
    font-size: 40px;
    line-height: 30px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
}

.footer-section p {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    top: 64px;

}

.menu-footer a {
    color: white;
    text-decoration: none;
  
}

.info-section-footer{
    margin-top: 40px;
}