* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.dropdown {
  display: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
}

nav {
  background-color: black;
  height: 93px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav img {
  margin-left: 2rem;
}

.nav-links-container {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  margin-right: 1rem;
}

.nav-links-container a,
.dropdown p {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 20px;
  font-family: "Neue Haas Grotesk-Roman";
}
.nav-links-container a:hover {
  color: rgba(255, 255, 255, 1);
  color: lightskyblue;
}

.x-menu {
  display: none;
  cursor: pointer;
}
@media (max-width: 900px) {
  .nav-links-container a,
  .dropdown p {
    font-size: 16px;
    font-weight: 450;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }

  .nav-links-container {
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .dropdown {
    display: flex;
    padding-right: 1rem;
  }

  .nav-links-container {
    position: fixed;
    left: 300%;
    top: 0px;
    flex-direction: column;
    background-color: black;
    width: 50vw;
    transition: 0.4s;
    text-align: right;
    gap: 1rem;
    align-items: flex-end;
    padding: 1rem;
  }

  .nav-links-container a,
  .dropdown p {
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 28px;
  }

  .nav-links-container {
  }

  .active {
    left: 50%;
  }
  .x-menu {
    display: flex;
    margin-top: 2rem;
  }
}
