* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
.dropdown {
  display: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
}

nav {
  background-color: black;
  height: 5.813rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav img {
  margin-left: 2rem;
}

.nav-links-container {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  margin-right: 1rem;
  z-index: 100;
}

.nav-links-container a,
.dropdown p {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "Neue Haas Grotesk-Roman";
}

.nav-links-container a:hover,
.dropdown p:hover {
  color: rgba(255, 255, 255, 1);
  color: lightskyblue;
}

.x-menu {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1130px) {
  .nav-links-container a,
  .dropdown p {
    font-size: 1rem;
    font-weight: 450;
    letter-spacing: 0em;
  }

  .nav-links-container {
    gap: 1rem;
  }

  nav img {
    height: 2.313rem;
  }
  nav {
    height: 3.75rem;
  }
}

@media screen and (max-width: 740px) {
  .dropdown {
    display: flex;
    padding-right: 1rem;
  }

  .nav-links-container {
    position: fixed;
    left: 300%;
    top: 0px;
    flex-direction: column;
    background-color: black;
    width: 50vw;
    transition: 0.4s;
    text-align: right;
    gap: 1rem;
    align-items: flex-end;
    padding: 1rem;
  }

  .nav-links-container a,
  .dropdown p {
    font-style: normal;
    font-weight: 450;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .nav-links-container {
  }

  .active {
    left: 50%;
  }
  .x-menu {
    display: flex;
    margin-top: 2rem;
  }
}
