* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../fonts/NeueHaasDisplayThin.ttf");
}

nav {
  background-color: black;
  height: 93px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav img {
  margin-left: 2rem;
}

.nav-links-container {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  margin-right: 2rem;
}

.nav-links-container a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 20px;
  font-family: "Neue Haas";
}
.nav-links-container a:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}



