#home-kino-partners-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#home-kino-news-section{
    font-size: 64px;
    margin: 3rem 2rem;
    text-align: right;

}

#home-kino-news-section img{
    margin: auto;
    display: block;
}

.home-kino-partner-card{
    height: 14.625rem;
    background-color: grey;  
}

.home-kino-main p {
  margin: 5rem 5rem;
  font-size: 36px;
}

#home-kino-movie-section {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#home-kino-movie-section h2 {
  position: absolute;
  font-size: 64px;
  margin: auto;
}

#home-kino-books-section {
  margin-top: 2rem;
  width: 100%;
  height: 400px;
  background-color: grey;
}

#home-kino-books-section h2 {
  position: absolute;
  font-size: 64px;
  margin: auto;
}

#home-kino-awards-section {
  width: 100%;
  height: 400px;
  position: relative;
}

/*awards section */
@keyframes roll {
  0% {
    left: 0px;
    top: 0px;
  }

  100% {
    left: 800px;
    top: 0px;
  }
}
/* The element to apply the animation to */
/* div {
  width: 100px;
  height: 100px;
  animation-name: roll;
  animation-duration: 4s;
} */
.awards-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  animation-name: roll;
  animation-duration: 40s;
  position: absolute;
}

.awards-container img {
  border: 1px solid white;
}

