@font-face {
    font-family: "Neue Haas";
    src: url("../fonts/NeueHaasDisplayMediu.ttf");
  }

  @font-face {
    font-family: "Neue Haas-bold";
    src: url("../fonts/NeueHaasDisplayBold.ttf");
  }

body {
  margin: 0 auto;
  font-family: "Neue Haas";
}
/* kommenterade ut denna för alla p är inte 36px, det är h3
/* p{
    font-size: 36px;
    font-family: "Neue Haas";

} */
/*hero-section*/
.title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-self: center;
  background-color: black;
}

.title-container img {
  height: 66px;
  margin-top: 6.5%;
}

.title-container h1 {
  font-size: 180px;
  color: rgba(255, 255, 255, 1);
}
