/* Inter-regular*/
@font-face {
  font-family: "Neue Haas Grotesk-Light";
  src: url("../fonts/NeueHaasDisplayLight.woff") format("woff"),
    url("../fonts/NeueHaasDisplayLight.woff2") format("woff2");
}

/* Inter-light*/
@font-face {
  font-family: "Neue Haas Grotesk-Roman";
  src: url("../fonts/NeueHaasDisplayRoman.woff") format("woff"),
    url("../fonts/NeueHaasDisplayRoman.woff2") format("woff2");
}

/*Inter-medium*/
@font-face {
  font-family: "Neue Haas Grotesk-Medium";
  src: url("../fonts/NeueHaasDisplayMediu.woff") format("woff"),
    url("../fonts/NeueHaasDisplayMediu.woff2") format("woff2");
}

body {
  margin: 0 auto;
  font-family: "Neue Haas Grotesk-Roman";
}

/*hero-section*/

.hero-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  padding: 90px 0 36px 0;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.arrow-container {
  flex-grow: 100;
  position: relative;
}

.title-container h1 {
  font-size: 180px;
  color: rgba(255, 255, 255, 1);
  font-family: "Neue Haas Grotesk-Roman";
  text-align: right;
  margin-right: 2rem;
  line-height: 172px;
  font-weight: 500;
}

/* .arrow-container img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 1rem;
  margin: auto 0;
} */

.arrow-container img {
  position: absolute;
  /* top: 0px; */
  bottom: 50px;
  right: 3rem;
  /* margin: auto 0; */
}
